In [16]:
import zoopla_clean as zc
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import os

main_directory = Path.cwd().parent.as_posix()

In [17]:
zoopla_df = pd.read_csv(f"{main_directory}/databases/zooplaii-mcr.csv")

In [18]:
size_start = (len(zoopla_df))
zoopla_df.head(4)

6025

,title,address,price,station,beds,baths,receptions
0,3 bed terraced house for sale,"Richmond Street, Worsley Mesnes, Wigan WN3","£160,000",0.9 miles Wigan North Western,3,1,1
1,2 bed flat for sale,"The Boulevard, Didsbury, Manchester M20","£235,000",1.5 miles Burnage,2,2,1
2,2 bed flat for sale,"The Boulevard, West Didsbury, Manchester M20","£240,000",1.5 miles Burnage,2,2,1
3,5 bed detached house for sale,"Verdure Avenue, Heaton, Bolton BL1","£499,950",1 miles Lostock,5,2,2

In [19]:
df = zc.clean_type(zoopla_df)
df = zc.clean_price(df)
df = zc.get_dist_to_station(df)
df = zc.clean_address(df)

In [20]:
size_end = (len(df))
df.head(4)

4767

,type,address,price,station,beds,baths,receptions,post_code,location
0,terraced,Wigan WN3,160000.0,0.9,3,1,1,WN3,wigan
1,flat,Manchester M20,235000.0,1.5,2,2,1,M20,manchester
2,flat,Manchester M20,240000.0,1.5,2,2,1,M20,manchester
3,detached,Bolton BL1,499950.0,1.0,5,2,2,BL1,bolton

In [ ]:
print(f"Database of {size_start} reduced to {size_end} after cleaning")

In [21]:
df['type'].value_counts()

flat             2448
semi-detached     856
terraced          750
detached          534
end terrace       179
Name: type, dtype: int64

In [22]:
df['location'].value_counts()

manchester         2462
salford             468
bolton              363
wigan               256
stockport           208
bury                162
rochdale            118
altrincham          107
oldham               97
cheshire             94
lancashire           93
leigh                70
sale                 55
ashtonunderlyne      51
skelmersdale         51
cheadle              40
hyde                 37
stalybridge          35
Name: location, dtype: int64