In [99]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import os


import statsmodels.api as sm
import statsmodels
import lightgbm as lgb

main_directory = Path.cwd().parent.as_posix()

In [100]:
df = pd.read_csv(f"{main_directory}/databases/zoopla_data.csv")
df = pd.get_dummies(df, columns = ['type'], drop_first = True, prefix = 'type')
df = pd.get_dummies(df, columns = ['location'], drop_first = True, prefix = 'location')
df

,price,station,beds,baths,receptions,post_code,avg_sold_price_12months,type_end terrace,type_flat,type_semi-detached,...,location_cheshire,location_hyde,location_lancashire,location_manchester,location_oldham,location_rochdale,location_salford,location_stalybridge,location_stockport,location_wigan
0,369950.0,0.5,1,1.0,0.0,M15,200730.0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,369950.0,0.5,1,1.0,0.0,M15,200730.0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,154950.0,0.5,2,1.0,1.0,M15,200730.0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,541805.0,0.2,3,1.0,1.0,M15,200730.0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,240327.0,0.2,1,1.0,1.0,M15,200730.0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4371,625000.0,0.7,3,2.0,3.0,M34,193433.0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4372,230000.0,0.7,3,1.0,2.0,M34,193433.0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4373,310000.0,0.6,4,1.0,0.0,M34,193433.0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4374,130000.0,0.2,3,1.0,1.0,M34,193433.0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4375,280000.0,0.6,3,2.0,1.0,SK16,192413.0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [101]:
x = df.drop(['price','post_code'],axis=1)
y = df.price

In [102]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [103]:
model = lgb.LGBMRegressor(learning_rate=0.03,max_depth=4,random_state=42,num_iterations=50000)
model.fit(x_train,y_train,eval_set=[(x_test,y_test),(x_train,y_train)],eval_metric='RMSE',verbose=50,early_stopping_rounds=100)

/home/tymo/Desktop/ZooplaScrape/datascience/lib/python3.9/site-packages/lightgbm/sklearn.py:726: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/home/tymo/Desktop/ZooplaScrape/datascience/lib/python3.9/site-packages/lightgbm/sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "
/home/tymo/Desktop/ZooplaScrape/datascience/lib/python3.9/site-packages/lightgbm/engine.py:177: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[50]	training's rmse: 96656.7	training's l2: 9.34252e+09	valid_0's rmse: 95469.8	valid_0's l2: 9.11449e+09
[100]	training's rmse: 88647.2	training's l2: 7.85833e+09	valid_0's rmse: 88196.9	valid_0's l2: 7.77869e+09
[150]	training's rmse: 85216.4	training's l2: 7.26184e+09	valid_0's rmse: 85246.1	valid_0's l2: 7.26689e+09
[200]	training's rmse: 83501.3	training's l2: 6.97247e+09	valid_0's rmse: 84565.6	valid_0's l2: 7.15134e+09
[250]	training's rmse: 82490.9	training's l2: 6.80475e+09	valid_0's rmse: 84317.6	valid_0's l2: 7.10945e+09
[300]	training's rmse: 81377.1	training's l2: 6.62224e+09	valid_0's rmse: 83889.8	valid_0's l2: 7.0375e+09
[350]	training's rmse: 80491.7	training's l2: 6.47892e+09	valid_0's rmse: 83488.1	valid_0's l2: 6.97027e+09
[400]	training's rmse: 79507.1	training's l2: 6.32138e+09	valid_0's rmse: 83004.5	valid_0's l2: 6.88974e+09
[450]	training's rmse: 78852.3	training's l2: 6.21768e+09	valid_0's rmse: 82933.6	valid_0's l2: 6.87797e+09
[500]	training's rmse: 78261.7	training's l2: 6.12489e+09	valid_0's rmse: 82893.5	valid_0's l2: 6.87134e+09
[550]	training's rmse: 77855.5	training's l2: 6.06148e+09	valid_0's rmse: 82874.4	valid_0's l2: 6.86816e+09
[600]	training's rmse: 77488.1	training's l2: 6.0044e+09	valid_0's rmse: 82807.1	valid_0's l2: 6.85701e+09
[650]	training's rmse: 76834.6	training's l2: 5.90356e+09	valid_0's rmse: 82912.1	valid_0's l2: 6.87442e+09

LGBMRegressor(learning_rate=0.03, max_depth=4, num_iterations=50000,
              random_state=42)