In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import os

#! pip install statsmodels

import statsmodels.api as sm
import statsmodels

main_directory = Path.cwd().parent.as_posix()

In [8]:
df = pd.read_csv(f"{main_directory}/databases/zoopla_data.csv")
df

,type,price,station,beds,baths,receptions,post_code,location,avg_sold_price_12months
0,flat,369950.0,0.5,1,1.0,0.0,M15,manchester,200730.0
1,flat,369950.0,0.5,1,1.0,0.0,M15,manchester,200730.0
2,flat,154950.0,0.5,2,1.0,1.0,M15,manchester,200730.0
3,flat,541805.0,0.2,3,1.0,1.0,M15,manchester,200730.0
4,flat,240327.0,0.2,1,1.0,1.0,M15,manchester,200730.0
...,...,...,...,...,...,...,...,...,...
4371,detached,625000.0,0.7,3,2.0,3.0,M34,manchester,193433.0
4372,semi-detached,230000.0,0.7,3,1.0,2.0,M34,manchester,193433.0
4373,semi-detached,310000.0,0.6,4,1.0,0.0,M34,manchester,193433.0
4374,terraced,130000.0,0.2,3,1.0,1.0,M34,manchester,193433.0
4375,detached,280000.0,0.6,3,2.0,1.0,SK16,manchester,192413.0

In [9]:
def feature_eng(df):
    df = pd.get_dummies(df, columns = ['type'], drop_first = True, prefix = 'type')
    #df = pd.get_dummies(df, columns = ['location'], drop_first = True, prefix = 'loc')
    df = sm.add_constant(df)
    return df

In [10]:
df

,type,price,station,beds,baths,receptions,post_code,location,avg_sold_price_12months
0,flat,369950.0,0.5,1,1.0,0.0,M15,manchester,200730.0
1,flat,369950.0,0.5,1,1.0,0.0,M15,manchester,200730.0
2,flat,154950.0,0.5,2,1.0,1.0,M15,manchester,200730.0
3,flat,541805.0,0.2,3,1.0,1.0,M15,manchester,200730.0
4,flat,240327.0,0.2,1,1.0,1.0,M15,manchester,200730.0
...,...,...,...,...,...,...,...,...,...
4371,detached,625000.0,0.7,3,2.0,3.0,M34,manchester,193433.0
4372,semi-detached,230000.0,0.7,3,1.0,2.0,M34,manchester,193433.0
4373,semi-detached,310000.0,0.6,4,1.0,0.0,M34,manchester,193433.0
4374,terraced,130000.0,0.2,3,1.0,1.0,M34,manchester,193433.0
4375,detached,280000.0,0.6,3,2.0,1.0,SK16,manchester,192413.0

In [11]:
df = feature_eng(df)
df['avg_sold_price_12months']=(df['avg_sold_price_12months']-df['avg_sold_price_12months'].mean())/df['avg_sold_price_12months'].std()

feature_cols = list(df.columns)
feature_cols.remove('price')
feature_cols.remove('post_code') #Remove address -> not needed in the model
feature_cols.remove('station') #Remove address -> not needed in the model
feature_cols.remove('location') #Remove address -> not needed in the model

In [12]:
X = df[feature_cols]
X = sm.add_constant(X)
y = df['price']

lin_reg = sm.OLS(y, X)
results = lin_reg.fit()
df['y_pred'] = results.predict(X)

rmse = statsmodels.tools.eval_measures.rmse(y, df['y_pred'])

print(f'the RMSE is {rmse}')
print(results.params)
results.summary()

NameError: name 'statsmodels' is not defined